body{

    background:#f3f5f7;

    font-family:Segoe UI,Tahoma,sans-serif;

}

h2{

    font-weight:700;

}

.card{

    border-radius:15px;

}

.card-summary{

    transition:.25s;

}

.card-summary:hover{

    transform:translateY(-3px);

}

.card-body{

    position:relative;

}

.icon{

    width:55px;

    height:55px;

    border-radius:50%;

    display:flex;

    justify-content:center;

    align-items:center;

    color:white;

    font-size:22px;

    margin-bottom:15px;

}

.title{

    color:#777;

    font-size:15px;

}

.money{

    font-size:30px;

    font-weight:bold;

    margin-top:5px;

}

.table{

    font-size:15px;

}

.table th{

    background:#0d6efd;

    color:white;

    text-align:center;

}

.table td{

    vertical-align:middle;

}

.table td:nth-child(2){

    color:#198754;

    font-weight:600;

}

.table td:nth-child(3){

    color:#dc3545;

    font-weight:600;

}

.table td:nth-child(4){

    color:#0d6efd;

    font-weight:700;

}

.card-header{

    font-weight:bold;

    background:white;

}

canvas{

    max-height:420px;

}

.form-select{

    width:120px;

}

@media(max-width:768px){

.money{

    font-size:24px;

}

.table{

    font-size:13px;

}

.card-header{

    font-size:15px;

}

h2{

    font-size:22px;

}

}
